Source: gnome-shell-extension-auto-select-headset
Section: gnome
Priority: optional
Maintainer: Edson Juliano Drosdeck <edson@policorp.com.br>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/policorp-dev/gnome-shell-extension-auto-select-headset.git

Package: gnome-shell-extension-auto-select-headset
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Auto select to headphone ESSX8326
 Auto select to headphone instead show choose box
